.header {
    background: var(--white);
    padding: 96px 0 77px;
}

.header__title {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 50px;
    line-height: 64px;
    color: var(--black);
    margin: 0;
}

.header__page {
    height: 82px;
    background: #FFFFFF;
    grid-area: header;
}