.card {
    width: 350px;
    height: 367px;
    background: var(--white);
    box-shadow: 0px 2px 4px rgba(33, 36, 41, 0.05);
    border-radius: 12px;
    box-sizing: border-box;

    display: flex;
    flex-direction: column-reverse;
}

.card__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    color: var(--black);
}