@import '../fonts/fonts.css';
@import './normalize.css';

:root {
    --white: #ffffff;
    --black: #212429;
    --pink: #F784AD;
    --purple: #7048E8;
    --purple-1: #5028C6;
    --blue: #374FC7;
    --blue-1: #4263EB;
    --blue-2:#2342C0;
    --red: #F03D3E;
    --grey-1: #F8F9FA;
    --grey-2: #DDE2E5;
    --grey-3: #ACB5BD;
    --grey-4: #495057;

    --error: var(--red);
    --success: var(--blue);

    --primary: var(--blue-1);
    --primary-hover: var(--blue-2);
    --secondary: var(--purple);
    --secondary-hover: var(--purple-1);
    --gradient: linear-gradient(92.51deg, #DDE2E5 6.44%, #E2E6E8 38.47%, #F3F5F5 56.48%, #E3E7EA 77.5%, #DDE2E5 102.52%);
}

* {
    font-family: 'Roboto', sans-serif;
}
