.radio__group {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.radio {
    position: relative;
}

.radio__input {
    position: absolute;
    clip: rect(0,0,0,0);
}

.radio__state {
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    gap: 12px;
}

.radio__control {
    background: var(--white);
    border: 1px solid var(--grey-2);
    border-radius: 50%;
    box-sizing: border-box;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
}


.radio__control::after {
    content: '';
    width: 18px;
    height: 18px;
    background: var(--white);
    border-radius: 50%;
  }

.checkbox__icon {
    display: none;
}

.radio__title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: var(--grey-4);
}

.radio__input:checked ~ .radio__state 
.radio__control {
    border: 2px solid var(--blue-1);
}

.radio__input:checked ~ .radio__state 
.radio__control::after {
    background: var(--blue-1);
}

.radio__input:checked ~ .radio__state 
.radio__icon {
    display: block;
}

.radio__input:focus ~ .radio__state 
.radio__title {
    text-decoration: underline;
}

.radio__input:disabled ~ .radio__state 
.radio__control {
    background: var(--grey-2);
    border-color: var(--grey-2);
}

.radio__input:disabled ~ .radio__state 
.radio__control::after {
    display: none;
}

.radio__input:disabled ~ .radio__state 
.radio__title {
    color: var(--grey-2);
}  