.form {
    display: grid;
    grid-template-columns: 350px 350px;
    column-gap: 30px;
    row-gap: 16px;
}

.form-group {
    font-family: 'Inter', sans-serif;
    font-style: normal;
}

.form-group__title {
    font-weight: 500;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-transform: uppercase;
    color: var(--grey-3);
}

.form-group__input::placeholder {
    color: var(--grey-2);
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}

.form-group__wrapper {
    position: relative;
}

.form-group__input {
    box-sizing: border-box;
    background: #FFFFFF;
    border: 1px solid var(--grey-2);
    border-radius: 8px;
    width: 350px;
    height: 56px;
    padding: 17px 24px;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: var(--grey-4);
}

.form-group__input:focus {
    box-sizing: border-box;
    background: var(--white);
    border: 1px solid var(--success);
    box-shadow: 0px 1px 1px rgba(51, 154, 240, 0.1);
    border-radius: 8px;
    outline: none;
}

.form-group__icon {
    position: absolute;
    right: 16px;
    top: calc(50% - 24px/2);
    color: var(--blue-2);
    width: 24px;
    height: 24px;
}

.form-group_error .form-group__input {
    border-color: var(--red);
}

.form-group__input:disabled {
    cursor: default;
    background: var(--grey-2);
}
